body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.captcha-container {
  margin: 20px;
  display: inline-block;
  border: 2px solid white;
  padding: 10px;
  background: white;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

button:nth-of-type(1) {
  background-color: #007BFF;
  color: rgb(228, 198, 198);
}

button:nth-of-type(2) {
  background-color: gray;
  color: white;
}

#resultMessage {
  margin-top: 20px;
  font-size: 18px;
}