/* body{
    text-align: center;
    width: 200px;
    height: 400px;
    padding: 200px;
    margin:20px
}
h5{
    color: red;
    text-align: center;
}
h1{
    color:white;
    background-color: red;
    height: 40px;
    width: 200px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

form {
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 30%;
}

label {
  font-size: 18px;
}

input {
  padding: 4px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  background-color: brown;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.error {
  color: red;
}